################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Intrepid
/Binaries/Win64
/Intermediate
/Intrepid.sln
/Intrepid.sdf
/Saved
/.gitattributes
Content/Enum/NewUserDefinedEnum.uasset
