################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Binaries
/Intermediate
/Saved
/.gitattributes
/Interstellar.sln

*.sdf
*.sln
